@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
    background-color: #1A1A19;
}

.title {
    width: 100%;
    height: 100vh;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}